{% extends "base_generic.html" %}
{% load bootstrap5 %}
{% block content %}
  <div style="text-align: center;">
    <h1><span class="green">Reset Password</span></h1>
  </div>
  <form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
      {{ form.email.errors }}
    {% endif %}
    {% bootstrap_form form %}
    {% buttons %}
      <div class="d-grid">
        <button class="main-btn" id="submitButton" type="submit">Reset Password</button>
      </div>
    {% endbuttons %}
  </form>
{% endblock %}
